In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('glassdoor_jobs.csv')

In [3]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist,-1,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,Education,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
3,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1500 non-null   object
 1   Salary Estimate    1500 non-null   object
 2   Job Description    1500 non-null   object
 3   Rating             1500 non-null   float64
 4   Company Name       1500 non-null   object
 5   Location           1500 non-null   object
 6   Size               1500 non-null   object
 7   Founded            1500 non-null   int64
 8   Type of ownership  1500 non-null   object
 9   Industry           1500 non-null   object
 10  Sector             1500 non-null   object
 11  Revenue            1500 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 140.8+ KB

In [5]:
complete_duplicates = df[df.duplicated(keep=False)]

print(complete_duplicates)

                                              Job Title  \
3                                      Data Scientist 2
19                                                   -1
24                                                   -1
54                                                   -1
58                                                   -1
...                                                 ...
1495  Global Technology Transformation Analytics Vic...
1496                              Senior Data Scientist
1497                            Remote - Data Scientist
1498                                Market Data Analyst
1499                                     Data Scientist

                             Salary Estimate  \
3      Employer Provided Salary:$94K - $183K
19                                        -1
24                                        -1
54                                        -1
58                                        -1
...                                      ...
1495  Employer Provided Salary:$128K - $190K
1496          Employer Provided Salary:$145K
1497   Employer Provided Salary:$79K - $120K
1498            $53K - $77K (Glassdoor est.)
1499           $94K - $132K (Glassdoor est.)

                                        Job Description  Rating  \
3     The Microsoft 365 team is looking for a Data S...     4.3
19                                                   -1    -1.0
24                                                   -1    -1.0
54                                                   -1    -1.0
58                                                   -1    -1.0
...                                                 ...     ...
1495  JOB DESCRIPTION\n\nThe Global Technology Trans...     4.0
1496  Job Summary:\nWe are seeking a talented and ex...     4.3
1497  We’re looking for talented professionals, anyw...     3.0
1498  Summary:\n**PLEASE NOTE - This is NOT a techni...    -1.0
1499  The University of Iowa is seeking a Data Scien...     3.9

                     Company Name          Location                    Size  \
3                  Microsoft\n4.3       Redmond, WA        10000+ Employees
19                             -1                -1                      -1
24                             -1                -1                      -1
54                             -1                -1                      -1
58                             -1                -1                      -1
...                           ...               ...                     ...
1495     JPMorgan Chase & Co\n4.0      New York, NY        10000+ Employees
1496                  Cydcor\n4.3  Agoura Hills, CA     51 to 200 Employees
1497   Green Dot Corporation\n3.1            Remote  1001 to 5000 Employees
1498               S4 Market Data       Trenton, NJ                 Unknown
1499  The University of Iowa\n3.9     Iowa City, IA        10000+ Employees

      Founded  Type of ownership                                 Industry  \
3        1975   Company - Public            Computer Hardware Development
19         -1                 -1                                       -1
24         -1                 -1                                       -1
54         -1                 -1                                       -1
58         -1                 -1                                       -1
...       ...                ...                                      ...
1495     1799   Company - Public                        Banking & Lending
1496     1994  Company - Private           Advertising & Public Relations
1497     1999   Company - Public         Financial Transaction Processing
1498       -1  Company - Private  Information Technology Support Services
1499     1898           Hospital         Health Care Services & Hospitals

                      Sector                   Revenue
3     Information Technology        $10+ billion (USD)
19                        -1                        -1
24                        -1                        -1
54                        -1                        -1
58                        -1                        -1
...                      ...                       ...
1495      Financial Services        $10+ billion (USD)
1496   Media & Communication   $5 to $25 million (USD)
1497      Financial Services    $1 to $5 billion (USD)
1498  Information Technology  Unknown / Non-Applicable
1499              Healthcare    $1 to $5 billion (USD)

[739 rows x 12 columns]

In [6]:
df = df.drop_duplicates()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 820 entries, 0 to 1350
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          820 non-null    object
 1   Salary Estimate    820 non-null    object
 2   Job Description    820 non-null    object
 3   Rating             820 non-null    float64
 4   Company Name       820 non-null    object
 5   Location           820 non-null    object
 6   Size               820 non-null    object
 7   Founded            820 non-null    int64
 8   Type of ownership  820 non-null    object
 9   Industry           820 non-null    object
 10  Sector             820 non-null    object
 11  Revenue            820 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 83.3+ KB

In [8]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist,-1,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,Education,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,Employer Provided Salary:$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,Employer Provided Salary:$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
3,Data Scientist 2,Employer Provided Salary:$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,$48K - $78K (Glassdoor est.),"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD)

In [9]:
# Salary Estimate
# Company Name
# Location
# Size
# Type of ownership
# Revenue

## Salary Estimate

In [10]:
df['Salary Estimate'].unique()

array(['-1', 'Employer Provided Salary:$83K - $153K',
       'Employer Provided Salary:$71K - $133K',
       'Employer Provided Salary:$94K - $183K',
       '$48K - $78K (Glassdoor est.)',
       'Employer Provided Salary:$65.00 - $75.00 Per Hour',
       'Employer Provided Salary:$141K - $254K',
       'Employer Provided Salary:$85K', '$102K - $138K (Glassdoor est.)',
       'Employer Provided Salary:$51.00 - $68.72 Per Hour',
       '$106K - $168K (Glassdoor est.)', '$88K - $133K (Glassdoor est.)',
       'Employer Provided Salary:$122K - $175K',
       'Employer Provided Salary:$70K - $105K',
       'Employer Provided Salary:$93.00 - $121.00 Per Hour',
       'Employer Provided Salary:$112K', '$82K - $123K (Glassdoor est.)',
       'Employer Provided Salary:$112K - $165K',
       'Employer Provided Salary:$130K - $150K',
       '$121K - $169K (Glassdoor est.)',
       'Employer Provided Salary:$160K - $255K',
       'Employer Provided Salary:$102K - $152K',
       'Employer Provided Salary:$125K - $145K',
       'Employer Provided Salary:$60K - $64K',
       'Employer Provided Salary:$51.00 - $52.00 Per Hour',
       'Employer Provided Salary:$114K - $122K',
       'Employer Provided Salary:$130K - $146K',
       'Employer Provided Salary:$100K - $130K',
       'Employer Provided Salary:$60K - $140K',
       'Employer Provided Salary:$105K - $157K',
       'Employer Provided Salary:$150K - $175K',
       '$136K - $186K (Glassdoor est.)',
       'Employer Provided Salary:$68K - $191K',
       '$88K - $126K (Glassdoor est.)',
       'Employer Provided Salary:$95K - $125K',
       '$100K - $151K (Glassdoor est.)', 'Employer Provided Salary:$83K',
       'Employer Provided Salary:$40.00 - $45.00 Per Hour',
       'Employer Provided Salary:$150K',
       'Employer Provided Salary:$83K - $95K',
       'Employer Provided Salary:$82K - $96K',
       '$86K - $129K (Glassdoor est.)',
       'Employer Provided Salary:$81K - $184K',
       '$85K - $130K (Glassdoor est.)',
       'Employer Provided Salary:$82K - $164K',
       '$92K - $128K (Glassdoor est.)', '$61K - $90K (Glassdoor est.)',
       'Employer Provided Salary:$150K - $200K',
       '$90K - $126K (Glassdoor est.)',
       'Employer Provided Salary:$75.00 - $100.00 Per Hour',
       '$84K - $122K (Glassdoor est.)', '$94K - $144K (Glassdoor est.)',
       'Employer Provided Salary:$91K - $121K',
       'Employer Provided Salary:$106K - $159K',
       'Employer Provided Salary:$75K - $85K',
       'Employer Provided Salary:$82K - $140K',
       '$89K - $123K (Glassdoor est.)', '$112K - $157K (Glassdoor est.)',
       'Employer Provided Salary:$90K - $120K',
       'Employer Provided Salary:$75.63 Per Hour',
       '$69K - $110K (Glassdoor est.)',
       'Employer Provided Salary:$112K - $135K',
       'Employer Provided Salary:$100K',
       'Employer Provided Salary:$69K - $122K',
       'Employer Provided Salary:$112K - $172K',
       '$89K - $122K (Glassdoor est.)',
       'Employer Provided Salary:$29.00 - $50.00 Per Hour',
       'Employer Provided Salary:$75K - $80K',
       'Employer Provided Salary:$70K - $80K',
       '$79K - $118K (Glassdoor est.)',
       'Employer Provided Salary:$130K - $170K',
       'Employer Provided Salary:$96K - $134K',
       '$85K - $127K (Glassdoor est.)', 'Employer Provided Salary:$75K',
       '$65K - $96K (Glassdoor est.)', '$84K - $126K (Glassdoor est.)',
       'Employer Provided Salary:$197K - $269K',
       'Employer Provided Salary:$105K - $120K',
       'Employer Provided Salary:$91K - $131K',
       '$98K - $133K (Glassdoor est.)', '$81K - $120K (Glassdoor est.)',
       'Employer Provided Salary:$80K - $90K',
       'Employer Provided Salary:$140K',
       'Employer Provided Salary:$140K - $180K',
       'Employer Provided Salary:$85K - $115K',
       'Employer Provided Salary:$5K - $7K',
       'Employer Provided Salary:$180K - $250K',
       '$82K - $109K (Glassdoor est.)',
       'Employer Provided Salary:$95K - $115K',
       '$126K - $195K (Glassdoor est.)',
       'Employer Provided Salary:$130K - $155K',
       'Employer Provided Salary:$80K - $100K',
       '$118K - $161K (Glassdoor est.)', '$94K - $132K (Glassdoor est.)',
       'Employer Provided Salary:$45.00 - $55.00 Per Hour',
       'Employer Provided Salary:$82K - $143K',
       '$82K - $114K (Glassdoor est.)',
       'Employer Provided Salary:$90K - $140K',
       'Employer Provided Salary:$30K - $35K',
       '$116K - $169K (Glassdoor est.)',
       'Employer Provided Salary:$65K - $131K',
       '$70K - $104K (Glassdoor est.)',
       'Employer Provided Salary:$105K - $140K',
       '$70K - $106K (Glassdoor est.)',
       'Employer Provided Salary:$59K - $93K',
       'Employer Provided Salary:$50.00 - $65.00 Per Hour',
       '$76K - $115K (Glassdoor est.)', '$87K - $116K (Glassdoor est.)',
       'Employer Provided Salary:$132K - $196K',
       'Employer Provided Salary:$45K - $176K',
       'Employer Provided Salary:$101K - $204K',
       'Employer Provided Salary:$53K - $100K',
       '$80K - $126K (Glassdoor est.)', '$80K - $122K (Glassdoor est.)',
       'Employer Provided Salary:$94K - $186K',
       'Employer Provided Salary:$140K - $190K',
       'Employer Provided Salary:$61K - $106K',
       '$89K - $133K (Glassdoor est.)', '$92K - $126K (Glassdoor est.)',
       'Employer Provided Salary:$134K - $248K',
       'Employer Provided Salary:$53K - $84K',
       '$69K - $99K (Glassdoor est.)', '$74K - $125K (Glassdoor est.)',
       'Employer Provided Salary:$81K - $179K',
       'Employer Provided Salary:$79K - $122K',
       'Employer Provided Salary:$59K - $130K',
       'Employer Provided Salary:$80K', '$90K - $125K (Glassdoor est.)',
       '$74K - $123K (Glassdoor est.)',
       'Employer Provided Salary:$105K - $171K',
       '$99K - $138K (Glassdoor est.)',
       'Employer Provided Salary:$204K - $294K',
       'Employer Provided Salary:$78K - $90K',
       'Employer Provided Salary:$85K - $95K',
       '$88K - $132K (Glassdoor est.)', '$93K - $132K (Glassdoor est.)',
       '$77K - $106K (Glassdoor est.)',
       'Employer Provided Salary:$153K - $332K',
       '$123K - $183K (Glassdoor est.)',
       'Employer Provided Salary:$130K - $218K',
       'Employer Provided Salary:$59K - $82K',
       '$71K - $103K (Glassdoor est.)',
       'Employer Provided Salary:$146K - $174K',
       'Employer Provided Salary:$104K - $145K',
       'Employer Provided Salary:$202K - $316K',
       '$114K - $155K (Glassdoor est.)',
       'Employer Provided Salary:$144K - $180K',
       'Employer Provided Salary:$105K - $135K',
       'Employer Provided Salary:$40.00 - $50.00 Per Hour',
       '$79K - $109K (Glassdoor est.)',
       'Employer Provided Salary:$100K - $140K',
       'Employer Provided Salary:$110K - $113K',
       'Employer Provided Salary:$87K - $108K',
       'Employer Provided Salary:$99K - $129K',
       'Employer Provided Salary:$125K - $129K',
       '$107K - $157K (Glassdoor est.)',
       'Employer Provided Salary:$81K - $176K',
       'Employer Provided Salary:$118K - $158K',
       '$88K - $121K (Glassdoor est.)',
       'Employer Provided Salary:$106K - $242K',
       '$85K - $124K (Glassdoor est.)',
       'Employer Provided Salary:$169K - $172K',
       '$81K - $115K (Glassdoor est.)', '$110K - $151K (Glassdoor est.)',
       'Employer Provided Salary:$87K - $126K',
       '$110K - $167K (Glassdoor est.)',
       'Employer Provided Salary:$160K - $170K',
       'Employer Provided Salary:$160K - $247K',
       'Employer Provided Salary:$188K - $306K',
       '$81K - $112K (Glassdoor est.)',
       'Employer Provided Salary:$73K - $176K',
       'Employer Provided Salary:$156K - $184K',
       'Employer Provided Salary:$72.49 - $96.06 Per Hour',
       '$85K - $120K (Glassdoor est.)',
       'Employer Provided Salary:$101K - $138K',
       '$83K - $125K (Glassdoor est.)',
       'Employer Provided Salary:$153K - $296K',
       '$89K - $127K (Glassdoor est.)',
       'Employer Provided Salary:$53K - $96K',
       'Employer Provided Salary:$140K - $206K',
       'Employer Provided Salary:$100K - $120K',
       '$130K - $176K (Glassdoor est.)', '$132K - $176K (Glassdoor est.)',
       '$116K - $163K (Glassdoor est.)', '$144K - $193K (Glassdoor est.)',
       '$79K - $114K (Glassdoor est.)',
       'Employer Provided Salary:$134K - $257K',
       '$95K - $140K (Glassdoor est.)',
       'Employer Provided Salary:$205K - $251K',
       'Employer Provided Salary:$160K - $220K',
       '$93K - $135K (Glassdoor est.)', '$73K - $104K (Glassdoor est.)',
       'Employer Provided Salary:$31.00 - $37.00 Per Hour',
       'Employer Provided Salary:$168K - $209K',
       '$89K - $130K (Glassdoor est.)',
       'Employer Provided Salary:$179K - $210K',
       'Employer Provided Salary:$74K - $124K',
       'Employer Provided Salary:$78K - $133K',
       '$138K - $188K (Glassdoor est.)',
       'Employer Provided Salary:$119K - $179K',
       '$85K - $122K (Glassdoor est.)',
       'Employer Provided Salary:$160K - $210K',
       'Employer Provided Salary:$211K - $262K',
       'Employer Provided Salary:$156K - $215K',
       '$101K - $142K (Glassdoor est.)', '$149K - $200K (Glassdoor est.)',
       '$96K - $142K (Glassdoor est.)',
       'Employer Provided Salary:$94K - $146K',
       '$85K - $115K (Glassdoor est.)', '$100K - $133K (Glassdoor est.)',
       'Employer Provided Salary:$63K - $89K',
       '$116K - $154K (Glassdoor est.)', '$75K - $113K (Glassdoor est.)',
       '$94K - $126K (Glassdoor est.)',
       'Employer Provided Salary:$141K - $239K',
       '$113K - $159K (Glassdoor est.)',
       'Employer Provided Salary:$213K - $253K',
       '$123K - $177K (Glassdoor est.)', '$89K - $129K (Glassdoor est.)',
       '$133K - $197K (Glassdoor est.)', '$144K - $191K (Glassdoor est.)',
       'Employer Provided Salary:$72K - $109K',
       'Employer Provided Salary:$70K - $100K',
       '$66K - $89K (Glassdoor est.)',
       'Employer Provided Salary:$160K - $232K',
       'Employer Provided Salary:$180K - $230K',
       'Employer Provided Salary:$112K - $218K',
       'Employer Provided Salary:$113K - $204K',
       '$94K - $156K (Glassdoor est.)', '$97K - $127K (Glassdoor est.)',
       '$76K - $103K (Glassdoor est.)', '$83K - $123K (Glassdoor est.)',
       'Employer Provided Salary:$110K - $176K',
       'Employer Provided Salary:$130K - $202K',
       '$80K - $113K (Glassdoor est.)', '$107K - $141K (Glassdoor est.)',
       'Employer Provided Salary:$118K - $214K',
       '$98K - $136K (Glassdoor est.)',
       'Employer Provided Salary:$106K - $130K',
       'Employer Provided Salary:$61K - $110K',
       '$141K - $185K (Glassdoor est.)', 'Employer Provided Salary:$146K',
       'Employer Provided Salary:$123K - $209K',
       'Employer Provided Salary:$82K - $123K',
       'Employer Provided Salary:$250K - $330K',
       'Employer Provided Salary:$81K - $129K',
       'Employer Provided Salary:$250K - $275K',
       'Employer Provided Salary:$74.66 - $98.94 Per Hour',
       'Employer Provided Salary:$116K - $184K',
       'Employer Provided Salary:$139K - $209K',
       'Employer Provided Salary:$183K - $251K',
       '$90K - $124K (Glassdoor est.)',
       'Employer Provided Salary:$109K - $163K',
       '$119K - $169K (Glassdoor est.)', '$82K - $121K (Glassdoor est.)',
       'Employer Provided Salary:$78K - $140K',
       '$109K - $149K (Glassdoor est.)', '$86K - $130K (Glassdoor est.)',
       'Employer Provided Salary:$176K - $329K',
       '$99K - $137K (Glassdoor est.)',
       'Employer Provided Salary:$123K - $195K',
       'Employer Provided Salary:$97K - $198K',
       'Employer Provided Salary:$119K - $187K',
       'Employer Provided Salary:$115K - $155K',
       'Employer Provided Salary:$143K - $210K',
       'Employer Provided Salary:$127K', '$129K - $169K (Glassdoor est.)',
       'Employer Provided Salary:$185K - $245K',
       '$99K - $135K (Glassdoor est.)', '$84K - $127K (Glassdoor est.)',
       'Employer Provided Salary:$104K - $140K',
       '$91K - $132K (Glassdoor est.)', '$112K - $161K (Glassdoor est.)',
       'Employer Provided Salary:$143K - $251K',
       'Employer Provided Salary:$250K - $300K',
       'Employer Provided Salary:$201K - $395K',
       '$92K - $130K (Glassdoor est.)',
       'Employer Provided Salary:$92K - $138K',
       'Employer Provided Salary:$85K - $118K',
       'Employer Provided Salary:$170K - $200K',
       '$92K - $121K (Glassdoor est.)',
       'Employer Provided Salary:$90K - $100K',
       '$151K - $194K (Glassdoor est.)', '$79K - $115K (Glassdoor est.)',
       'Employer Provided Salary:$79K - $237K',
       'Employer Provided Salary:$143K - $195K',
       'Employer Provided Salary:$179K - $218K',
       'Employer Provided Salary:$143K - $203K',
       '$120K - $160K (Glassdoor est.)',
       'Employer Provided Salary:$118K - $217K',
       'Employer Provided Salary:$183K - $192K',
       '$86K - $119K (Glassdoor est.)', 'Employer Provided Salary:$132K',
       'Employer Provided Salary:$145K - $185K',
       '$100K - $136K (Glassdoor est.)',
       'Employer Provided Salary:$97K - $234K',
       'Employer Provided Salary:$122K - $150K',
       'Employer Provided Salary:$197K - $244K',
       '$138K - $186K (Glassdoor est.)',
       'Employer Provided Salary:$77K - $129K',
       '$119K - $157K (Glassdoor est.)', '$157K - $199K (Glassdoor est.)',
       'Employer Provided Salary:$159K - $281K',
       'Employer Provided Salary:$122K - $171K',
       '$96K - $132K (Glassdoor est.)',
       'Employer Provided Salary:$130K - $234K',
       'Employer Provided Salary:$160K - $225K',
       '$118K - $160K (Glassdoor est.)', '$151K - $200K (Glassdoor est.)',
       'Employer Provided Salary:$120.00 - $125.00 Per Hour',
       'Employer Provided Salary:$125K - $164K',
       'Employer Provided Salary:$85K - $120K',
       '$84K - $124K (Glassdoor est.)',
       'Employer Provided Salary:$169K - $203K',
       'Employer Provided Salary:$48.30 - $77.28 Per Hour',
       'Employer Provided Salary:$107K - $199K',
       'Employer Provided Salary:$295K - $359K',
       '$96K - $129K (Glassdoor est.)',
       'Employer Provided Salary:$145K - $190K',
       '$99K - $136K (Glassdoor est.)', '$96K - $134K (Glassdoor est.)',
       '$115K - $167K (Glassdoor est.)', '$85K - $116K (Glassdoor est.)',
       'Employer Provided Salary:$145K - $242K',
       'Employer Provided Salary:$125K - $175K',
       '$107K - $154K (Glassdoor est.)',
       'Employer Provided Salary:$80K - $125K',
       'Employer Provided Salary:$130K - $164K',
       'Employer Provided Salary:$133K - $162K',
       'Employer Provided Salary:$105K - $155K',
       '$133K - $180K (Glassdoor est.)',
       'Employer Provided Salary:$135K - $210K',
       'Employer Provided Salary:$136K - $182K',
       '$96K - $130K (Glassdoor est.)', '$115K - $160K (Glassdoor est.)',
       '$127K - $173K (Glassdoor est.)', '$96K - $139K (Glassdoor est.)',
       'Employer Provided Salary:$80K - $85K',
       '$127K - $168K (Glassdoor est.)',
       'Employer Provided Salary:$140K - $261K',
       'Employer Provided Salary:$114K - $190K',
       'Employer Provided Salary:$173K - $290K',
       'Employer Provided Salary:$110K - $138K',
       '$113K - $152K (Glassdoor est.)', '$143K - $194K (Glassdoor est.)',
       '$130K - $186K (Glassdoor est.)', '$89K - $124K (Glassdoor est.)',
       'Employer Provided Salary:$134K - $182K',
       '$82K - $112K (Glassdoor est.)', '$121K - $158K (Glassdoor est.)',
       '$124K - $178K (Glassdoor est.)', '$119K - $156K (Glassdoor est.)',
       '$88K - $129K (Glassdoor est.)', '$103K - $148K (Glassdoor est.)',
       '$90K - $127K (Glassdoor est.)',
       'Employer Provided Salary:$97K - $146K',
       'Employer Provided Salary:$172K - $285K',
       'Employer Provided Salary:$100K - $150K',
       '$113K - $154K (Glassdoor est.)', '$111K - $147K (Glassdoor est.)',
       '$98K - $135K (Glassdoor est.)', '$113K - $155K (Glassdoor est.)',
       'Employer Provided Salary:$110K', '$87K - $121K (Glassdoor est.)',
       'Employer Provided Salary:$105K - $195K',
       '$96K - $135K (Glassdoor est.)', '$128K - $171K (Glassdoor est.)',
       'Employer Provided Salary:$126K - $270K',
       '$135K - $183K (Glassdoor est.)',
       'Employer Provided Salary:$61K - $92K',
       '$139K - $190K (Glassdoor est.)',
       'Employer Provided Salary:$150K - $219K',
       '$141K - $188K (Glassdoor est.)',
       'Employer Provided Salary:$190K - $351K',
       '$110K - $159K (Glassdoor est.)',
       'Employer Provided Salary:$75.00 - $80.00 Per Hour',
       'Employer Provided Salary:$120K - $240K',
       'Employer Provided Salary:$136K - $155K',
       '$119K - $159K (Glassdoor est.)',
       'Employer Provided Salary:$90K - $110K',
       '$74K - $108K (Glassdoor est.)',
       'Employer Provided Salary:$188K - $240K',
       '$103K - $164K (Glassdoor est.)',
       'Employer Provided Salary:$100K - $180K',
       '$105K - $148K (Glassdoor est.)', '$87K - $131K (Glassdoor est.)',
       '$88K - $125K (Glassdoor est.)', '$77K - $124K (Glassdoor est.)',
       '$146K - $194K (Glassdoor est.)', '$72K - $112K (Glassdoor est.)',
       'Employer Provided Salary:$95K - $220K',
       '$89K - $128K (Glassdoor est.)', '$106K - $153K (Glassdoor est.)',
       'Employer Provided Salary:$154K - $254K',
       '$112K - $160K (Glassdoor est.)',
       'Employer Provided Salary:$157K - $262K',
       'Employer Provided Salary:$310K - $359K',
       'Employer Provided Salary:$8K - $8K',
       '$91K - $123K (Glassdoor est.)',
       'Employer Provided Salary:$157K - $192K',
       'Employer Provided Salary:$95K - $142K',
       'Employer Provided Salary:$130K - $160K',
       'Employer Provided Salary:$130K - $145K',
       '$110K - $158K (Glassdoor est.)', '$76K - $120K (Glassdoor est.)',
       'Employer Provided Salary:$110K - $170K',
       'Employer Provided Salary:$73.00 - $76.00 Per Hour',
       '$81K - $126K (Glassdoor est.)', '$38K - $58K (Glassdoor est.)',
       '$112K - $146K (Glassdoor est.)', '$83K - $111K (Glassdoor est.)',
       '$77K - $115K (Glassdoor est.)',
       'Employer Provided Salary:$112K - $179K',
       'Employer Provided Salary:$137K',
       'Employer Provided Salary:$38.32 - $64.85 Per Hour',
       '$99K - $133K (Glassdoor est.)', '$101K - $136K (Glassdoor est.)',
       '$113K - $161K (Glassdoor est.)', '$104K - $145K (Glassdoor est.)',
       'Employer Provided Salary:$107K', '$124K - $167K (Glassdoor est.)',
       '$109K - $143K (Glassdoor est.)', '$80K - $116K (Glassdoor est.)',
       'Employer Provided Salary:$104K - $142K',
       'Employer Provided Salary:$144K - $216K',
       '$115K - $157K (Glassdoor est.)',
       'Employer Provided Salary:$70K - $125K',
       '$74K - $100K (Glassdoor est.)', '$124K - $169K (Glassdoor est.)',
       '$92K - $124K (Glassdoor est.)',
       'Employer Provided Salary:$60.00 Per Hour',
       '$74K - $115K (Glassdoor est.)', '$90K - $129K (Glassdoor est.)',
       '$58K - $89K (Glassdoor est.)', '$104K - $178K (Glassdoor est.)',
       'Employer Provided Salary:$146K - $234K',
       '$56K - $81K (Glassdoor est.)', '$123K - $179K (Glassdoor est.)',
       '$99K - $152K (Glassdoor est.)', '$104K - $153K (Glassdoor est.)',
       '$83K - $129K (Glassdoor est.)',
       'Employer Provided Salary:$88K - $133K',
       '$85K - $117K (Glassdoor est.)', '$88K - $120K (Glassdoor est.)',
       '$83K - $127K (Glassdoor est.)',
       'Employer Provided Salary:$130K - $140K',
       'Employer Provided Salary:$60.00 - $70.00 Per Hour',
       '$66K - $105K (Glassdoor est.)',
       'Employer Provided Salary:$153K - $215K',
       'Employer Provided Salary:$112K - $207K',
       'Employer Provided Salary:$101K - $187K',
       '$109K - $156K (Glassdoor est.)', 'Employer Provided Salary:$178K',
       '$94K - $139K (Glassdoor est.)',

In [11]:
# Used Regular Expression For This Task
# Function to clean and format salary values
def clean_salary(salary):
    # Regular expressions to extract salary ranges
    salary_range = re.findall(r'\$?(\d+)[Kk]?\s*-\s*\$?(\d+)[Kk]?', salary)
    if salary_range:
        min_salary, max_salary = salary_range[0]
        return f"${min_salary}K - ${max_salary}K"
    else:
        # Handling 'Employer Provided Salary' or other formats
        employer_provided = re.findall(r'\$?(\d+)[Kk]?', salary)
        if len(employer_provided) == 2:
            return f"${employer_provided[0]}K - ${employer_provided[1]}K"
        elif len(employer_provided) == 1:
            return f"${employer_provided[0]}K"
        else:
            return salary  # return original if no match

# Apply the function to the 'Salary Estimate' column
df['Salary Estimate'] = df['Salary Estimate'].apply(clean_salary)

In [12]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Scientist,$1K,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,Education,$500 million to $1 billion (USD)
1,2024 University Graduate - Data Scientist,$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD)
2,Data Scientist – Entry Level 2024,$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
3,Data Scientist 2,$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD)
4,Entry Level Data Scientist 2023/2024,$48K - $78K,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD)

In [13]:
def clean_salary(salary):
    # Remove 'K' and '$' and convert to integers
    salary = salary.replace('$', '').replace('K', '')
    if '-' in salary:
        low, high = salary.split('-')
        return (int(low) + int(high)) / 2
    else:
        return int(salary)

# Apply the function to the Salary Estimate column
df['Salary Numeric'] = df['Salary Estimate'].apply(clean_salary)

# Convert to numeric and handle missing data
df['Salary Numeric'] = df['Salary Numeric'].apply(lambda x: x * 1000)
df['Salary Numeric'] = pd.to_numeric(df['Salary Numeric'], errors='coerce')
df['Salary Numeric'].fillna(df['Salary Numeric'].median(), inplace=True)

df.head()

C:\Users\Sumit\AppData\Local\Temp\ipykernel_13356\800253628.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary Numeric'].fillna(df['Salary Numeric'].median(), inplace=True)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Salary Numeric
0,Data Scientist,$1K,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group\n4.3,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,Education,$500 million to $1 billion (USD),1000.0
1,2024 University Graduate - Data Scientist,$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe\n4.4,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),118000.0
2,Data Scientist – Entry Level 2024,$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,IBM\n3.9,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),102000.0
3,Data Scientist 2,$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft\n4.3,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),138500.0
4,Entry Level Data Scientist 2023/2024,$48K - $78K,"You may not realize it, but you’ve likely used...",3.9,CPChem\n3.9,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),63000.0

## Company Name

In [14]:
df['Company Name'].unique()

array(['Cambium Learning Group\n4.3', 'Adobe\n4.4', 'IBM\n3.9',
       'Microsoft\n4.3', 'CPChem\n3.9', 'IVID TEK INC', 'AT&T\n3.6',
       'Ascension\n3.4', 'Visa\n4.1', 'Heluna Health\n3.3', 'Pashtek',
       'Spalding Consulting, Inc.\n4.0',
       'Lawrence Berkeley National Laboratory\n4.1',
       'Publicis Media\n3.9', 'Twitch Interactive, Inc.\n3.7',
       'Chewy\n3.5', 'Colgate-Palmolive\n4.2', 'Ai Vantage', '-1',
       'Bloomberg BNA\n3.4', 'Notion\n4.9', 'Zendesk\n3.6',
       'Procter & Gamble\n4.1', 'DonorSearch\n3.8',
       'Tellus Solutions\n3.7', 'Helix Tech IT solution', 'SAP\n4.4',
       'Fulcrum Analytics', 'Tech brothers infoservices',
       'Morrison & Foerster\n3.9', 'Parafin\n4.7', 'Pinterest\n3.8',
       'Gamingtec\n5.0', 'Apple\n4.2', 'Ancestry\n3.5',
       'Pattern Bioscience\n4.5', 'Burlington Stores\n3.1',
       'LiveView Technologies\n4.4', 'Old Dominion University\n4.1',
       'eTeam Inc.\n4.2', 'AllocateRite\n4.8', 'High Tech High\n3.3',
       'Galaxy Technologies\n2.6', 'JANUS Research Group\n4.0',
       'National Security Agency\n3.7', 'Skylight\n4.5',
       'Abbott Laboratories\n3.8', 'JPMorgan Chase & Co\n4.0',
       'Starbucks\n3.7', 'RELX\n4.0', 'Neuberger Berman\n4.3',
       'Williams Consulting LLC\n2.4', 'Extreme Data Technologies',
       'OPS Consulting, LLC\n4.2', 'Boston Consulting Group\n4.3',
       'PearlX\n5.0', 'INTEL\n4.1', 'ClassLink, Inc.\n4.3',
       'Federal Bureau of Investigation\n4.1', 'CORMAC\n3.8',
       'Bamboo Health\n3.4',
       'University of California San Francisco\n4.1', 'REVOLVE\n2.8',
       'Amazon.com Services LLC\n3.7', 'Netflix\n4.2', 'GSK\n4.1',
       'Brainwave360', 'Arch Systems, LLC',
       'US National Oceanic and Atmospheric Administration\n4.0',
       'US Cybersecurity and Infrastructure Security Agency',
       'OneMain Financial\n3.4', 'VitalCORE\n3.4',
       'Expertise France\n3.7', 'Battelle\n3.9',
       'Health Choice Network\n4.0', 'Axle Informatics\n3.4',
       'Trean Corporation\n4.2', 'Flow\n4.3', 'GEHA\n2.8',
       'Gentherm\n3.8', 'Clifford Beers Community Care Center\n4.1',
       'Camgian\n4.9', 'Galen College of Nursing\n3.7',
       'Denver Health\n3.4', 'Meta\n3.9', 'The Associated Press\n4.0',
       'BOEING\n3.9', 'Ford Motor Company\n4.0', 'University Health\n3.9',
       'SoundThinking\n3.5', 'Inclusively\n5.0', 'USAA\n3.4',
       'PUTNAM RECRUITING GROUP\n4.3',
       'Global Information Technology\n3.9',
       'University of New Mexico\n3.8', 'Machinify\n3.7',
       'BRADY WORLDWIDE INC\n3.6', 'FriendFinder Networks\n2.9',
       'Houzz\n3.7', 'COEADAPT INC.',
       'L.E.A.D Inc.- Law Enforcement Against Drugs', 'Revecore\n3.4',
       'Kellogg Company\n3.9', 'ShyftLabs\n3.8',
       'APPIC Solutions LLC\n5.0', 'Chapter\n4.8', 'Parsons\n3.9',
       'Soothsayer Analytics\n2.9', 'HawkEye360\n3.4', 'Juristat',
       'Moderna\n3.7', 'Tencent\n4.0',
       'Oak Ridge National Laboratory\n3.9', 'Conversica\n2.7',
       'WebstaurantStore\n3.9', 'NYC Careers\n3.6',
       'Kaizen Analytix\n3.4', 'HP\n4.2', 'Caterpillar\n4.0',
       'Centers for Disease Control and Prevention\n4.0',
       'Home Depot / THD\n3.8',
       'US Securities and Exchange Commission\n4.5', 'ANALYTOS',
       'Octaura\n5.0', 'Eccalon LLC\n2.8', 'AG Grace Inc\n4.0',
       'Marriott International, Inc\n4.0', 'New York City Council\n3.9',
       'AppsIntegration.Inc\n2.9', "The Chefs' Warehouse\n3.4",
       'Hyperspace Ventures\n4.2', 'LexisNexis\n3.9',
       'US Customs and Border Protection\n4.1', 'Ekimetrics\n4.1',
       'Penn State University\n4.1', 'NXP Semiconductors\n4.2',
       'US Federal Energy Regulatory Commission\n4.2',
       'US Federal Bureau of Investigation\n4.1', 'Dropbox\n4.5',
       'Western New Mexico University\n3.4', 'Yale University\n4.2',
       'Sasol\n3.9', 'Pathward, N.A.\n4.1', 'McAfee, LLC\n3.8',
       'Altria\n3.9', 'Zoox\n4.1', 'Oracle\n3.9', 'Mercer\n3.9',
       'RB Consulting Inc.\n3.5', 'GeneDx\n2.5',
       'Wise Equation Solutions\n4.9',
       'Federal Reserve Bank of Dallas\n3.9', 'Veracity Software\n4.1',
       'GHX\n3.6', 'TikTok\n3.5', 'RStudio\n4.8',
       'Fullpower Technologies, Inc.\n4.3',
       'Technology Solutions Provider Inc.\n4.5',
       'Fidelity Investments\n4.3', 'Anika Systems\n4.5',
       'University of Rochester\n3.6', 'ADRM',
       'Bond Financial Technologies\n2.4', 'IT Consulting Services\n4.5',
       'SoftDev Incorporated\n3.7', 'Johnson & Johnson\n4.2',
       'Pathrise\n4.4', 'Asana\n4.3',
       'Blue Cross and Blue Shield of North Carolina\n4.2',
       'Froedtert Health\n3.9', 'Rocket Software\n4.2', 'TechCoreGlobal',
       'Auto-Owners Insurance\n3.6', 'Quizlet\n3.8', 'Konnectingtree',
       'Toloka', 'OTS Solutions\n4.6', "McDonald's Corporation\n3.5",
       'Covenant Eyes\n4.3', 'Capgemini\n3.7', 'Disney\n3.9',
       'Dell Technologies\n4.2', 'The Mosaic Company (Tampa, FL)\n4.0',
       'Booz Allen Hamilton\n4.2', 'Lightsource BP\n4.2', 'CALICO\n4.1',
       'The Infosoft Group\n4.3', 'Spring Health\n3.5',
       'Stanford University\n4.2', 'Forge Global\n4.3', 'NVIDIA\n4.6',
       'Logistics Management Institute\n4.2', 'Salesforce\n4.1',
       'Dataline', 'PayPal\n4.0', 'Lockheed Martin\n4.1', 'KBR\n3.9',
       'US Department of the Air Force - Agency Wide\n4.1',
       'Stanford Health Care\n3.9', 'KOHLS\n3.4',
       'Banfield, The Pet Hospital\n3.0', 'Pattern\n4.5',
       'Harvard University\n4.3',
       'Ecosystem Planning and Restoration, LLC\n5.0', 'Conde Nast\n3.7',
       'Leidos\n3.8', 'Coinbase\n3.7', 'Public Consulting Group\n3.8',
       'Tau', 'Aptos\n4.0', 'Arthrex\n3.8', 'CareMetx\n3.4',
       'Intuit\n4.5', 'REPS & Co.\n4.5', 'Attadale Partners',
       'Rec Room\n4.5', 'SpaceX\n3.9', 'ABS Consulting\n3.7',
       'BNY Mellon\n3.6', 'Torc Robotics\n4.3', 'LiveRamp\n3.5',
       'KSA Integration\n4.6', 'LT Technology Services\n3.5',
       'Remitly\n4.1', 'eureka strategic consulting', 'Cedar Inc\n4.5',
       'Panasonic Avionics Corporation\n3.2', 'Philips\n3.6',
       'CEDARS-SINAI\n4.1', 'Atlassian\n4.3',
       'Miracle Software Systems\n3.4', 'Stitch Fix\n3.3',
       'Royal Caribbean Group\n4.0', 'Faire\n4.6',
       'Shell Energy Solutions\n4.1', 'Na Oiwi Kane', 'SpaceCurve\n3.3',
       'US National Agricultural Statistics Service', 'Vass\n3.9',
       'Rockstar Games\n4.3', 'Wintrust Financial\n3.9',
       'The State of New Hampshire\n3.5', 'LG Electronics U.S.\n2.9',
       'Ferrovial external\n3.5', 'Certara\n4.1',
       'U.S. Securities & Exchange Commission', 'Roblox\n4.1',
       'Health Alliance Plan\n3.6', 'Live Nation\n4.0',
       'Webster Financial Corp\n3.5', 'Mount Sinai\n3.5',
       'Applied Engineering, Inc\n4.0', 'Schreiber Foods\n3.7',
       'CSAA Insurance Group\n3.6', 'Mayo Clinic\n3.9', 'SentiLink\n5.0',
       'Realtor.com Careers\n3.7', 'HCSC\n3.9',
       'Indiana University Health\n3.5', 'eimagine\n3.9',
       'Syneos Health Clinical\n3.8', 'SeamlessWorld Consulting',
       'Nordstrom Inc\n3.7', 'MST Solutions\n4.2',
       'Cyberhill Partners LLC\n1.0', 'AmeriHealth Caritas\n3.4',
       'Evolve Vacation Rentals\n2.9', 'RSM US LLP\n4.0',
       'PG&E Corporation\n4.0', 'Bop LLC\n3.7', 'BAE Systems\n4.0',
       'Tek Ninjas\n4.1', 'Freshworks\n3.8', 'Ochsner Health System\n3.6',
       'LinQuest Corporation\n4.0', 'Movable Ink\n3.9',
       'US Internal Revenue Service\n3.6', 'GE Healthcare\n4.3',
       'Americo\n3.8', 'Bayer\n3.9', 'Tesla\n3.6', 'Podium\n3.4',
       'National Renewable Energy Laboratory\n3.8', 'Otsuka\n3.9',
       'Cardinal Health\n3.6', 'Pinnacle Soft Solutions',
       'DeepHealth\n4.0', 'AppLovin\n3.7', 'Keystone Strategy\n4.0',
       'Merck Sharp & Dohme\n4.2', 'Sephora\n3.7', 'Assetario',
       'Airbnb\n4.4', 'ABBVIE\n3.9', 'Discover Financial Services\n3.8',
       'Kyla\n3.5', 'Koddi\n3.7', 'Pull Systems\n3.4',
       'Azurity Pharmaceuticals\n3.0', 'ServiceNow\n4.4',
       'Colony Brands, Inc.\n3.8', 'f5\n4.0', 'Lincoln Financial\n3.6',
       'Ramp Financial\n4.3', 'CSX\n2.9', 'Deloitte\n4.0',
       'New York City Housing Development Corporation (HDC)\n3.9',
       'CACI\n4.0', 'Grange Insurance Company\n3.8',
       'Edaptive Computing, Inc.\n3.8', 'Buyers Edge Platform, LLC\n4.3',
       'ICR inc.\n4.6', 'First American Financial Corporation\n3.8',
       'QSC, LLC\n4.0', 'Red Alpha LLC\n5.0', 'Coalition\n4.5',
       'Samsara\n4.5', 'Endpoint Closing\n3.7', 'The Swift Group',
       'Imprivata\n3.5', 'Grammarly, Inc.\n4.4',
       'Bristol Myers Squibb\n3.9',
       'ManTech International Corporation\n4.3',
       'Federal Reserve Bank of Minneapolis\n3.9', 'Databricks\n4.5',
       'Quora\n4.4', 'Criterion Systems, Inc.\n4.2', 'Evolve\n2.9',
       'Moveworks.ai\n3.9', 'Comcast\n3.8', 'Sonasoft Corp.',
       'Genentech\n4.2', 'MASS MUTUAL FINANCIAL GROUP\n4.0',
       'Mediacom Communications Corporation\n4.0', 'Hilabs\n3.7',
       'Johns Hopkins Applied Physics Laboratory (APL)\n4.2',
       'City of Hope\n3.9', 'Consumer Products Games & Publishing',
       'Verizon\n3.8', 'Cognizant Technology Solutions\n3.8',
       'BrainTrust\n4.4', 'AKASA\n3.4', 'Motorola Solutions\n4.0',
       'Beckman Coulter Diagnostics\n3.6', 'Adstra\n4.3',
       'Fractal Analytics\n4.0', 'Health Rhythms',
       'J80 CINTRA US SERVICES LLC\n3.5', 'Pfizer\n4.1',
       'CGI Group, Inc.\n3.9',
       'University of North Carolina at Chapel Hill\n4.0', 'Etsy\n4.5',
       'OneSignal\n4.2', 'Restaurant365\n4.1', 'Rokt\n3.9', 'Rinf\n4.5',
       'Prescient Edge Federal\n4.3',
       'Disney Media & Entertainment Distribution\n3.9',
       'Vita Data Sciences\n1.0', 'Docugami\n5.0', 'Discord\n3.1',
       'Iron EagleX\n4.9', 'NatureServe', 'Nike\n4.2', 'ECS Federal\n4.1',
       'Gopuff\n3.0', 'Kraft Heinz Company\n3.5', 'IQVIA\n4.0',
       'Changeis\n4.5', 'MilliporeSigma\n3.9', 'Unity Technologies\n3.4',
       'Mercy\n3.6', 'Graphite\n4.3', 'Radial, Inc.\n2.9',
       'Vanguard\n3.7', 'Afterpay\n3.7', 'Ally Financial\n3.7',
       'UFG Insurance\n3.5', 'ADPMN IT SOLUTIONS', 'Walmart\n3.4',
       'The College Board\n3.7', 'Public Storage\n2.9', 'Shoptrue, Inc.',
       'American Honda Motor Co\n3.3', 'Foursquare\n3.6',
       'MedeAnalytics\n3.0', 'Octo\n4.2', 'bioMerieux SA\n4.1',
       'Maritz Inc.\n3.9', 'Voloridge Investment Management\n4.7',
       'VIZIO, Inc.\n2.4', 'Kimberly-Clark\n4.1', 'CrowdStrike\n4.3',
       'Honeywell\n4.0', 'Stellantis\n3.6', 'Albertsons Companies\n3.5',
       'Lam Research\n4.0', 'Ormae\n3.8', 'Instacart\n3.6',
       'Caris Life Sciences\n3.0', 'Analytica\n3.4',
       'University of Maryland Medical System\n3.3',
       'Global Healthcare Exchange, Inc.\n3.6', 'Archetype\n4.2',
       'DMA Associates, LLC', 'Schneider\n3.5', 'Jefferson Lab\n4.1',
       'Adela, Inc.', 'Exelixis, Inc.\n2.9', 'PlayStation Global\n4.0',
       'University of Phoenix\n4.1', 'Activision\n3.5',
       'Intone Networks\n4.3', 'Standard Biotools\n3.1', 'ADP\n4.0',
       'Wilfred Knight', 'MyFitnessPal\n4.2',
       'Amazon Web Services, Inc.\n3.8', 'CoreLogic\n3.9',
       'Advanced Technology and Research Corporation\n3.5',
       'Orbis Operations, LLC\n3.9', 'Costco Wholesale\n3.9',
       'Genmab\n4.2', 'TechnoServe\n4.1', 'Think Bioscience',
       "Children's Health\n4.2", 'StackAdapt\n4.2',
       'Iodine Software, LLC\n4.2', 'D-Tech', 'Zartico',
       'Integration Innovation, Inc.\n4.2', 'Scismic\n3.1',
       'Infotrend\n3.6', 'Software Bloc', 'Teknatio\n4.7',
       'The Travelers Companies, Inc.\n4.1',
       'Bonneville Communications\n2.2', 'Northeastern University\n4.2',
       'UT Southwestern\n3.9', 'SysIntelli\n4.3', 'Data Xpander',
       'University of Washington\n4.2', 'Offchain Labs\n5.0',
       'Blue Cross Blue Shield of Massachusetts\n3.8',
       "Gillette Children's\n4.1", 'RS21 Careers',
       'Penske Truck Leasing and Logistics\n3.5', 'Consumer Reports\n3.3',
       'Fuse Engineering LLC\n5.0', 'BICP\n5.0', 'Health Advocate\n2.8',
       'WSP\n3.7', 'Government Tactical Solutions\n4.4',
       'Intelliswift Software, Inc.\n4.1', 'DT4o',
       'People, Technology & Processes\n3.4', 'AMERICAN SYSTEMS\n4.2',
       'Camping World\n3.1', 'Globalmax Solutions', 'Peraton\n3.6',
       'Cornerstone Defense\n4.4',
       'Virtus Investment Partners, Inc.\n3.5', 'UPMC\n3.2',
       'Mary Kay Inc\n4.1', 'Enterra Solutions\n4.5', 'Cognitio\n4.3',
       'Marlabs LLC\n3.6', 'GRAIL\n3.6', 'CloudBerg Tec\n5.0',
       'Dutech Systems\n4.5', 'Michaels Stores, Inc.\n3.2',
       'BTS Software Solutions\n4.9', 'Sandhills Global, Inc.\n3.2',
       'Horizon Blue Cross Blue Shield of New Jersey\n3.3',
       'ByteDance\n3.9', 'Zynga\n4.4', 'Air Liquide\n3.8',
       'Ampcus Incorporated\n3.9',
       "Connecticut Children's Medical Center\n3.7", 'Talent Group\n2.3',
       'CarMax\n3.8', 'EVRY India\n4.0', 'University of Maryland\n4.2',
       'Mastercard\n4.3', 'University of Maryland, Baltimore\n3.8',
       'Cash App\n4.3', 'Cambridge Mobile Telematics\n4.5',
       'DTE Energy\n3.9', 'Brunswick Corporation\n4.0', 'Barclays\n4.0',
       'Assertive Professionals\n4.8', 'Ryden Global LLC', 'Mars\n4.3',
       'NORC at the University of Chicago\n3.8', 'Chirality Research',
       'Excelacom\n3.2', 'New York Life Insurance Co\n3.7',
       'Evolent Health\n3.8', 'MetroStar\n3.6',
       'Objective Medical Systems',
       'US Office of the Secretary of Transportation\n3.9', 'withco',
       'Frost Bank\n4.2', 'NielsenIQ\n3.9',
       'Clarity Innovations, LLC\n4.8', 'Qcells\n3.0', 'DISH\n2.9',
       'Pareto Intelligence\n3.6', 'TaxSlayer\n3.9', 'Capital One\n4.1',
       'Finastra\n3.8', 'Colsh Consultants\n4.5', 'BTAS\n3.8',
       'Federal Reserve Bank of St. Louis\n2.5', 'Mashvisor Inc.\n3.8',
       'R1 RCM, Inc.\n3.4', 'Macmillan Learning\n3.9', 'LA Fitness\n3.1',
       'wiselinkglobal', 'Eastport Analytics',
       'Signature Science, LLC\n3.7', 'Noblis\n4.5',
       'Planned Systems International\n4.3', 'John Hancock\n4.0',
       "Moody's\n3.9", 'Barbaricum\n4.0', 'Applanix\n4.2',
       'GroupM Nexus Xaxis\n3.9', 'Fabrx Space', 'Electronic Arts\n4.0',
       'Demandbase\n4.3', 'Diaspark Inc.\n3.5',
       'CloudXsparks Technologies', 'Petrabytes Corporation',
       'Caelum Research Corporation\n3.7', 'Study.com\n3.1',
       'SimpliSafe\n3.6', 'Honda Center\n4.0',
       'The University of Pittsburgh\n3.9', 'SMK Soft Inc',
       "Sam's Club\n3.3", 'Echo Global Logistics\n3.9',
       'Freddie Mac\n3.4', 'Raptor Scientific\n5.0',
       'Syracuse University\n4.2', 'Raptor Scientific',
       'Cleveland Clinic\n3.7', 'IDEASVOICE',
       'Camden Coalition of Healthcare\n3.8', 'Rivian\n3.4',
       'Kaiser Permanente\n3.9', 'Huntington Bank\n3.7',
       'Radiance Technologies\n4.5', 'Tecolote Research, Inc.\n4.2',
       'US Veterans Health Administration\n3.7', 'DLA Piper\n3.9',
       'Abrigo\n4.2', 'ClinDCast LLC\n4.0', 'Advance OC',
       'Lucid Motors\n3.2', 'Bytoa\n5.0',
       'ADVANCED MANAGEMENT STRATEGIES GROUP(AMSG)\n4.7', 'DUOPEAK',
       'CSafe Global\n3.4', 'University of Colorado\n3.8',
       'Wavestone\n4.1', 'Incentivio', 'Cloudwick', 'Fiserv, Inc.\n3.1',
       'DataStudio', 'CoStar Group\n2.9', 'Udemy\n4.1',
       'Early Warning Services\n3.0', 'Big Data Federation',
       '1904labs\n4.9', 'Hilton Grand Vacations\n3.6',
       'BeVera Solutions LLC\n5.0', 'Atto Trading',
       'Technology Solutions Partners', 'Block\n3.3',
       'NewMarket Services Corporation\n2.7',
       'Integrated Intel Solutions\n3.5', 'Aderas, Inc\n4.5',
       'IntelliDyne\n4.3', 'Mayvue',
       'Boehringer Ingelheim Animal Health USA\n4.1', 'PetSmart\n3.3',
       'Independent Software\n4.6', 'Nexlogica', 'WHOOP\n3.5',
       'TJX Companies\n3.6', 'Axiologic Solutions\n4.1',
       'Medline Industries Inc\n3.7', "Perpay - Career's Page",
       'Nationwide IT Services, Inc\n3.7', 'Coupang\n3.6',
       'Source Mantra\n3.3', 'Celestar Corporation\n4.2', 'Zartico, Inc.',
       'US Federal Aviation Administration\n4.0',
       'Arkansas Blue Cross and Blue Shield\n4.1',
       'Siemens Digital Industries Software\n4.2', 'ADM Associates\n3.7',
       'APS\n4.1', 'Oasis Systems LLC\n4.4', 'Rite Pros\n3.4',
       'Cognowiz solutions LLC', 'Chegg\n4.1', 'Epsilon\n3.9',
       'Star Seven Six\n5.0', 'Physical Sciences Inc.\n3.8',
       'HR, Legal, & Administration\n2.7',
       'Alpha Facilities Solutions\n3.7', 'Novo Nordisk\n4.3',
       'GLOBAL Validation Services (GVS)', 'WEX Inc.\n3.8',
       'Dollar Tree\n3.0', 'Fooda\n3.8', 'DeepVu',
       'QVine Corporation\n3.9', 'RWE\n4.2', 'Hinge Health\n3.9',
       'Sabal Tech', 'Breeze Airways™\n2.8',
       'Cal-Tex Protective Coatings, Inc.', 'Freeport McMoRan\n4.1',
       'Trajector\n3.6', 'Idea Evolver\n3.7', 'Klaviyo\n3.9',
       'Connect Talent Solutions\n5.0', 'Erstom', 'EpochGeo\n5.0',
       'QVC\n3.3', "Lowe's\n3.5", 'Princeton University\n4.5',
       'Concentric AI\n5.0', 'Getty Images\n4.4',
       'Medical College of Wisconsin\n3.8', 'INTERDIGITAL COMM CORP\n3.8',
       'Trella Health\n4.8', 'Vitria Technology\n3.6',
       'Medical Mutual of Ohio\n3.9', 'Kumo\n5.0',
       'Hearst Media Services\n3.6', "TRA'BIAN ENTERPRISES",
       'hims & hers\n4.0', 'Q2A Media Services Pvt Ltd', 'VidMob\n3.2',
       'SS&C\n3.1', 'Ignite Fueling Innovation\n3.9', 'Cognowiz\n4.9',
       'Arcfield\n4.1', 'Verdant Infotech Solutions',
       'Plymouth Rock Assurance\n3.0', 'MD Anderson Cancer Center\n4.1',
       'Mosaic Data Science', 'Cydcor\n4.3', 'Green Dot Corporation\n3.1',
       'S4 Market Data', 'The University of Iowa\n3.9', 'The JAAW Group'],
      dtype=object)

In [15]:
def clean_company_name(company):
    # Remove trailing '\n<rating>' if present
    company = re.sub(r'\n\d+\.\d+$', '', company).strip()
    # Capitalize the first letter of each word
    company = ' '.join(word.capitalize() for word in company.split())
    return company

# Apply the function to the 'Company Name' column
df['Company Name'] = df['Company Name'].apply(clean_company_name)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Salary Numeric
0,Data Scientist,$1K,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group,Remote,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,Education,$500 million to $1 billion (USD),1000.0
1,2024 University Graduate - Data Scientist,$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe,"San Jose, CA",10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),118000.0
2,Data Scientist – Entry Level 2024,$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,Ibm,"Atlanta, GA",10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),102000.0
3,Data Scientist 2,$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft,"Redmond, WA",10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),138500.0
4,Entry Level Data Scientist 2023/2024,$48K - $78K,"You may not realize it, but you’ve likely used...",3.9,Cpchem,"The Woodlands, TX",1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),63000.0

## Location

In [16]:
# Function to split location into city and state
def split_location(location):
    if location.lower() == 'remote':
        return location, location  # Keep 'Remote' as it is
    else:
        parts = location.split(',')
        if len(parts) == 2:
            city = parts[0].strip()
            state = parts[1].strip()
            return city, state
        else:
            return location, ''  # Return original location and empty string if split fails

# Apply the function to create new 'City' and 'State' columns
df['City'], df['State'] = zip(*df['Location'].apply(split_location))

# Drop the 'Location' column
df = df.drop(columns=['Location'])
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Size,Founded,Type of ownership,Industry,Sector,Revenue,Salary Numeric,City,State
0,Data Scientist,$1K,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group,1001 to 5000 Employees,2004,Company - Private,Primary & Secondary Schools,Education,$500 million to $1 billion (USD),1000.0,Remote,Remote
1,2024 University Graduate - Data Scientist,$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe,10000+ Employees,1982,Company - Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),118000.0,San Jose,CA
2,Data Scientist – Entry Level 2024,$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,Ibm,10000+ Employees,1911,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD),102000.0,Atlanta,GA
3,Data Scientist 2,$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft,10000+ Employees,1975,Company - Public,Computer Hardware Development,Information Technology,$10+ billion (USD),138500.0,Redmond,WA
4,Entry Level Data Scientist 2023/2024,$48K - $78K,"You may not realize it, but you’ve likely used...",3.9,Cpchem,1001 to 5000 Employees,2000,Company - Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),63000.0,The Woodlands,TX

## Type of ownership

In [17]:
df['Type of ownership'].unique()

array(['Company - Private', 'Company - Public', 'Nonprofit Organization',
       'Government', '-1', 'Private Practice / Firm',
       'College / University', 'Unknown',
       'Subsidiary or Business Segment', 'Contract', 'Hospital',
       'Self-employed'], dtype=object)

In [18]:
df['Type of ownership'].value_counts()

Type of ownership
Company - Private                 346
Company - Public                  299
Nonprofit Organization             40
-1                                 35
Subsidiary or Business Segment     28
Government                         22
College / University               22
Hospital                            9
Self-employed                       6
Private Practice / Firm             5
Unknown                             4
Contract                            4
Name: count, dtype: int64

In [19]:
def clean_Type_Of_Ownership(type):
    if type == 'Company - Private':
        return 'Private'
    elif type == 'Company - Public':
        return 'Public'
    else:
        return "Others"
    
df['Type of ownership'] = df['Type of ownership'].apply(clean_Type_Of_Ownership)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Size,Founded,Type of ownership,Industry,Sector,Revenue,Salary Numeric,City,State
0,Data Scientist,$1K,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group,1001 to 5000 Employees,2004,Private,Primary & Secondary Schools,Education,$500 million to $1 billion (USD),1000.0,Remote,Remote
1,2024 University Graduate - Data Scientist,$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe,10000+ Employees,1982,Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),118000.0,San Jose,CA
2,Data Scientist – Entry Level 2024,$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,Ibm,10000+ Employees,1911,Public,Information Technology Support Services,Information Technology,$10+ billion (USD),102000.0,Atlanta,GA
3,Data Scientist 2,$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft,10000+ Employees,1975,Public,Computer Hardware Development,Information Technology,$10+ billion (USD),138500.0,Redmond,WA
4,Entry Level Data Scientist 2023/2024,$48K - $78K,"You may not realize it, but you’ve likely used...",3.9,Cpchem,1001 to 5000 Employees,2000,Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),63000.0,The Woodlands,TX

In [20]:
df['Type of ownership'].value_counts()

Type of ownership
Private    346
Public     299
Others     175
Name: count, dtype: int64

In [21]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Size', 'Founded', 'Type of ownership', 'Industry',
       'Sector', 'Revenue', 'Salary Numeric', 'City', 'State'],
      dtype='object')

## Revenue

In [22]:
df['Revenue'].value_counts()

Revenue
Unknown / Non-Applicable            295
$10+ billion (USD)                  171
$1 to $5 billion (USD)               77
$100 to $500 million (USD)           62
$5 to $25 million (USD)              46
$5 to $10 billion (USD)              41
$25 to $100 million (USD)            39
-1                                   31
$500 million to $1 billion (USD)     24
$1 to $5 million (USD)               22
Less than $1 million (USD)           12
Name: count, dtype: int64

In [23]:
def numerical_revenue(revenue):
    if revenue == 'Unknown / Non-Applicable' or revenue == '-1':
        return 0
    elif revenue == 'Less than $1 million (USD)':
        return 0.5
    elif revenue == '$1 to $5 million (USD)':
        return 3
    elif revenue == '$5 to $25 million (USD)':
        return 15
    elif revenue == '$25 to $100 million (USD)':
        return 62.5
    elif revenue == '$100 to $500 million (USD)':
        return 300
    elif revenue == '$500 million to $1 billion (USD)':
        return 750
    elif revenue == '$1 to $5 billion (USD)':
        return 3000
    elif revenue == '$5 to $10 billion (USD)':
        return 7500
    elif revenue == '$10+ billion (USD)':
        return 10000
    else:
        return 0

df['Revenue Numeric'] = df['Revenue'].apply(numerical_revenue)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Size,Founded,Type of ownership,Industry,Sector,Revenue,Salary Numeric,City,State,Revenue Numeric
0,Data Scientist,$1K,Job Overview\nA Data Scientist at ExploreLearn...,4.2,Cambium Learning Group,1001 to 5000 Employees,2004,Private,Primary & Secondary Schools,Education,$500 million to $1 billion (USD),1000.0,Remote,Remote,750.0
1,2024 University Graduate - Data Scientist,$83K - $153K,Our Company\n\nChanging the world through digi...,4.4,Adobe,10000+ Employees,1982,Public,Computer Hardware Development,Information Technology,$5 to $10 billion (USD),118000.0,San Jose,CA,7500.0
2,Data Scientist – Entry Level 2024,$71K - $133K,Introduction\nRanked by Forbes as one of the w...,3.9,Ibm,10000+ Employees,1911,Public,Information Technology Support Services,Information Technology,$10+ billion (USD),102000.0,Atlanta,GA,10000.0
3,Data Scientist 2,$94K - $183K,The Microsoft 365 team is looking for a Data S...,4.3,Microsoft,10000+ Employees,1975,Public,Computer Hardware Development,Information Technology,$10+ billion (USD),138500.0,Redmond,WA,10000.0
4,Entry Level Data Scientist 2023/2024,$48K - $78K,"You may not realize it, but you’ve likely used...",3.9,Cpchem,1001 to 5000 Employees,2000,Private,Chemical Manufacturing,Manufacturing,$10+ billion (USD),63000.0,The Woodlands,TX,10000.0

In [25]:
df.to_csv('clean_data.csv', index=False)